
.calendar{
    position: absolute;
    top: 0;
    left: 0;
    width: 80vh;
    padding: 1vh;
    background-color: rgb(75, 75, 75, 0.7);
    border-radius: 10px;
    border: 2px solid white;
}